.pokemon-card {
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px 15px;
    border-radius: 6px;
    background-color: #fafbfc;
    transition: all .3s;
    margin: 15px 15px 0px 0;
    color: #424242;
    line-height: 20px;

    @media screen and (max-width: 480px) {
        width: calc(50% - 15px);
        height: 170px;
        margin: 5px 5px 0px 0;
    }

    &:hover {
        box-shadow: 0 6px 15px rgba(36,37,38,0.08);
    }

    h6 {
        display: flex;
        align-self: flex-start;
        margin-top: -2px;
        font-weight: 400;
        font-size: 12px;
    }

    &>span {
        text-transform: capitalize;
        font-weight: 700;
        font-size: 15px;
    }

    img {
        width: 100px;
        height: 98px;
        margin: -5px auto 0;
    }

    p {
        text-transform: capitalize;
        font-size: 12px;
    }

    @include modifier("list") {
        width: 600px;
        height: 70px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        padding: 12px 15px;
        border-radius: 0;
        margin: 0px 25px;

        img {
            width: 70px;
            height: 70px;
            margin: 0;
        }

        span {
            width: 120px;
        }

        p {
            margin-bottom: 0;
            flex-grow: 1;
            max-width: 140px;
            min-width: 80px;
            width: 100%;
        }
    }
}
